<ion-header>
  <ion-navbar>
    <ion-title>Verifica datos de tu negocio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- STEPS -->
  <div class="step-container">
    <label class="step selected">1</label>
    <label class="step">2</label>
    <label class="step">3</label>
  </div>

  <!-- SLIDES -->
  <div class="container">
    <ion-slides>
      <!-- VERIFICACIÓN DE DATOS-->
      <ion-slide>
        <form [formGroup]="newUserForm" (submit)="doSignup()">
          <ion-item>
            <ion-label color="light" floating>Razón Social</ion-label>
            <ion-input type="text" formControlName="businessName"></ion-input>
            <ion-icon class="icon-error-message" name="warning" item-right primary *ngIf="newUserForm.controls['businessName'].invalid && !newUserForm.controls['businessName'].untouched"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label color="light" floating>Teléfono</ion-label>
            <ion-input type="text" formControlName="cellphone"></ion-input>
            <ion-icon class="icon-error-message" name="warning" item-right primary *ngIf="newUserForm.controls['cellphone'].invalid && !newUserForm.controls['cellphone'].untouched"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label color="light" floating>Dirección</ion-label>
            <ion-input type="text" formControlName="direction"></ion-input>
            <ion-icon class="icon-error-message" name="warning" item-right primary *ngIf="newUserForm.controls['direction'].invalid && !newUserForm.controls['direction'].untouched"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label floating>Sector de actividad económica</ion-label>
            <ion-select formControlName="economicActivity">
              <ion-option *ngFor="let val of values" [value]="val.value">
                {{val.label}}
              </ion-option>
            </ion-select>
            <!-- <ion-label color="light" floating>{{ 'PASSWORD' | translate }}</ion-label>
            <ion-input type="text" formControlName="economicActivity"></ion-input>
            <ion-icon class="icon-error-message" name="warning" item-right primary *ngIf="newUserForm.controls['economicActivity'].invalid && !newUserForm.controls['economicActivity'].untouched"></ion-icon> -->
          </ion-item>

          <div class="button-container">
            <button class="sign-up-btn" ion-button color="primary" round type="submit">
              Siguiente
            </button>
          </div>
        </form>
      </ion-slide>
      <!-- SELECCION DE IMAGEN -->
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <!-- VERIFICACIÓN DE FIRMA ELECTRÓNICA -->
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>