@import "ionic.theme.default";

  .info-container {
    height: 100%;
  }

  .slide-zoom{
    height: 100%;

    .slide-image {
      max-height: 40%;
      max-width: 60%;
      margin: 36px 0;
    }
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  

 .btn-divider::before{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 1px;
    height:90%;
    z-index: 100;
    content: '';
    background: map-get($colors, secondary);
 }
