<div class="header">
  <ion-title padding>
    <ion-icon name="star"></ion-icon>Ndocs
  </ion-title>
</div>

<div class="container">
  <form [formGroup]="newUserForm" (submit)="doSignup()">

    <ion-item>
      <ion-label color="light" floating>{{ 'RUC' | translate }}</ion-label>
      <ion-input type="text" formControlName="ruc"></ion-input>
      <ion-icon class="icon-error-message" name="warning" item-right primary *ngIf="newUserForm.controls['ruc'].invalid && !newUserForm.controls['ruc'].untouched"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label color="light" floating>{{ 'EMAIL' | translate }}</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
      <ion-icon class="icon-error-message" name="warning" item-right primary *ngIf="newUserForm.controls['email'].invalid && !newUserForm.controls['email'].untouched"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label color="light" floating>{{ 'PASSWORD' | translate }}</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
      <ion-icon class="icon-error-message" name="warning" item-right primary *ngIf="newUserForm.controls['password'].invalid && !newUserForm.controls['password'].untouched"></ion-icon>
    </ion-item>

    <div class="button-container">

      <button class="sign-up-btn" ion-button color="light" round full type="submit">
        Empezar
      </button>

      <a class="log-in-link" (click)="showLoginScreen()">
          Ya tengo una cuenta
      </a>
    </div>
  </form>
</div>