page-signup {
    text-align: center;
    background-color: map-get($colors, primary) !important;

    .header{
        .toolbar-title {
            font-weight: 700;
            color: map-get($colors, light);
        }
        ion-icon {
            color: map-get($colors, light);
            margin-right: 1rem;
        }
    }
    .container{
        margin: 3rem;
        .item-md {
            background-color: transparent;
            color: map-get($colors, light);
        }
        .item-input-has-focus .label-md[floating],
        .input-has-focus .label-md[floating] {
            color: map-get($colors, light);
        }
        .header-md::after{
            background: none;
        }

        .sign-up-btn{
            padding: 2.5rem;
            font-size: 2rem;
        }
    }
    
    ion-icon{
        color: #FFF;
    }

    .item-md{
        padding:0;
    }

    .button-md{
        box-shadow: none;
    }
}
