<ion-content style="margin-top: 80px;">
  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
        <ion-toolbar no-border-top *ngIf="demo != 'Title'">
          <ion-searchbar></ion-searchbar>
        </ion-toolbar>
      </ion-col>
      <ion-col col-auto>
        <button ion-button icon-only (click)="buttonClick(button2)">
          <ion-icon name="ios-albums-outline"></ion-icon>
        </button>
        <button ion-button icon-only (click)="buttonClick(button2)">
          <ion-icon name="md-funnel"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-card class="bill-container" *ngFor="let item of cardItems">
    <ion-row justify-content-center>
      <ion-col col-5 class="font-extra">
        001143582750
      </ion-col>
      <ion-col col-3 class="font-extra">
        28/04/18
      </ion-col>
      <ion-col col-3 class="font-extra">
        $ 50,00
      </ion-col>
      <ion-col col-auto>
        <button class="dots-button" clear>
          ...
        </button>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-5 class="font-regular bill-summary-down" color="primary">
        Francisco Alvear
      </ion-col>
      <ion-col col-3 class="font-regular bill-summary-down">
        Declarada		   			
      </ion-col>
      <ion-col col-4 class="font-regular bill-summary-down-color">
        Firmada
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>