<ion-content style="margin-top: 80px;">
  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
        <ion-toolbar no-border-top *ngIf="demo != 'Title'">
          <ion-searchbar></ion-searchbar>
        </ion-toolbar>
      </ion-col>
      <ion-col col-auto>
        <button ion-button icon-only (click)="buttonClick(button2)">
          <i class="fa fa-filter"></i>
        </button>
        <button ion-button icon-only (click)="buttonClick(button2)">
          <i class="fa fa-sort"></i>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-card class="bill-container" *ngFor="let item of bills">
    <ion-row justify-content-center>
      <ion-col col-5 class="font-extra">
        {{item.codeBill}}
      </ion-col>
      <ion-col col-3 class="font-extra">
        {{item.date}}
      </ion-col>
      <ion-col col-3 class="font-extra">
        {{item.value | currency}}
      </ion-col>
      <ion-col col-auto m-0 p-0>
        <button class="dots-button" clear>
          <i class="fa fa-ellipsis-h"></i>
        </button>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-5 class="font-regular bill-summary-down" color="primary">
        {{item.customerName}}
      </ion-col>
      <ion-col col-3 class="font-regular bill-summary-down">
        {{item.status}}
      </ion-col>
      <ion-col col-4 class="font-regular bill-summary-down-color">
        {{item.deliveryStatus}}
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>